footer.page-footer {
    align-self: center;
    height: 100px;
    max-width: 80vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #423b49;
}
